.train-detail-page{
    .train-intro{
        .title{
            height: px2rem(35);
            line-height: px2rem(35);
            padding-left: px2rem(10);
        }
        .intro{
            background: white;
            min-height: px2rem(30);
            line-height: px2rem(30);
            color: $light-gray-color;
            padding-left: px2rem(20);
            font-size: px2rem(12);
        }
        .train-item{
            background: white;
            p:not(:first-child){
                color: $light-gray-color;
                font-size: px2rem(12);
                padding-left: px2rem(10);
                padding-bottom: px2rem(5);
            }
            
        }
        .site{
            background: white;
            min-height: px2rem(70);
            padding: px2rem(10);
        }
    }
    .btn{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        .enroll-btn{
            background: #78A1F3;
            border: 0px;
            border-radius: px2rem(6);
            width: px2rem(150);
            height: px2rem(35);
            color: white;
            margin-top:px2rem(30);
            font-size: px2rem(14) !important;
        }
    }
}