.profile-courseDetail-page{
    .detail-head{
        background-color: #F2F2F2;
        height: $head-title;
        font-weight: bold;
        display: -webkit-flex;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: $padding-5;
        border-bottom: px2rem(1.5) solid #C1C1C1;
    }
    .detail-list{
        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        border-bottom: $border;
        p{
            margin: px2rem(20) 0;
        }
        .title{
            color:$gray-color; 
        }
        .list-left{
            margin-left: $padding-20;
            margin-right: px2rem(40);
        }
        .list-right{
            .status-info{
                color: $status-color;
            }
        }
    }
}