.profile-train-page{
    .list{
        .list-item{
            padding-left:px2rem(10);
            background: white;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            border-bottom:$border;
            .content{
                .schedule-title{
                    color: #242424;
                }
                .credit{
                    span{
                        margin-right: px2rem(40);
                    }
                }
                p{
                    margin:px2rem(10) 0;
                }
                p:not(:first-child){
                    font-size: px2rem(12);
                    color: $deep-gray-color;
                }
            }
           .right{
               display: -webkit-flex;
               display: flex;
               align-items: center;
                .icon-qianjin{
                    color: #C8C8CC;
                    font-size: px2rem(12);
                }
            }
        }
    }
}