.train-class-page{
    width: 100%;
    height: 100%;
    background-color: white;
        .search{
            display: -webkit-flex;
            display: flex;
            align-items: center;
            background: #F2F2F2;
            height: px2rem(50);
            padding:0 px2rem(5);
            .search-txt{
                font-size: px2rem(12) !important;
                border: px2rem(1) solid #F5F5F5;
                height: px2rem(35);
                line-height: px2rem(25);
                outline: none;
                border:0px !important;
                flex: 3;
                margin: 0 px2rem(5);
                border-radius: px2rem(6);
            }
            .search-btn{
                background: none;
                border: px2rem(1) solid #F5F5F5;
                background: white;
                color: #999999;
                margin: 0 px2rem(5);
                flex: 1;
                height: px2rem(35);
                font-size: px2rem(14) !important;
                border-radius: px2rem(6);
            }
        }
    
    .train-list{
        padding:px2rem(10);
        padding-right: 0;
        padding-top: 0;
        .train-item{
            border-bottom: px2rem(1) solid #ECECEC;
            p{
                margin: px2rem(10) 0;
            }
            p:not(:first-child){
                color: $light-gray-color;
                font-size: px2rem(12);
            }
            .title{
                display: flex;
                justify-content: space-between;
                .left{
                }
                .right{
                    font-size: px2rem(12);
                    padding-right:px2rem(10); 
                    .status{
                        color: $deep-gray-color;
                    }
                }
            }
            .start-time{
                
            }
            .end-time{
            }
            
        }
    }
}